{% extends 'base.html' %}

{% block tittle %}
<main class="container py-5">
    <div class="text-center mb-5">
        <h1>Выберите вид обработки</h1>
        <p class="lead">Подберите материал, инструмент, покрытие и режимы резания.</p>
    </div>
    <div class="row g-4 justify-content-center">
        <div class="col-md-4"><a class="btn btn-primary w-100 py-5 fs-3" href="{{ url_for('web.processing_selection', processing_type='turning') }}">Точение</a></div>
        <div class="col-md-4"><a class="btn btn-success w-100 py-5 fs-3" href="{{ url_for('web.processing_selection', processing_type='milling') }}">Фрезерование</a></div>
        <div class="col-md-4"><a class="btn btn-warning w-100 py-5 fs-3" href="{{ url_for('web.processing_selection', processing_type='threading') }}">Резьбонарезание</a></div>
    </div>
    <p class="text-center mt-5"><a href="{{ url_for('web.recommended_speed') }}">Все рекомендуемые режимы</a></p>
</main>
{% endblock %}
